<div class="wrapper">
    <div class="client__card">
        <div class="client__card-header">
            <button class="btn" routerLink="/clientspage">Назад</button>
            <div class="client-info" *ngIf="!moreInfoToggle && !editToggle">
                <p>{{getClient().surname}} {{getClient().name}} {{getClient().patronymic}}</p>
                <p>{{getTel() | cellphone}}</p>
                <p class="links-top-line-separator"><a class="client__card-link" (click)="moreInfoToggle = !moreInfoToggle">Подробнее</a></p>
            </div>
            <div class="client-info" *ngIf="moreInfoToggle">
                <p>{{getClient().surname}} {{getClient().name}} {{getClient().patronymic}}</p>
                <p>{{getTel() | cellphone}}</p>
                <p>{{getClient().address}}</p>
                <p>{{getClient().email}}</p>
                <div class="flex-links links-top-line-separator">
                    <a class="client__card-link" (click)="editToggle = !editToggle; moreInfoToggle = !moreInfoToggle">Редактировать</a>
                    <a class="client__card-link" (click)="moreInfoToggle = !moreInfoToggle">Скрыть</a>
                </div>
            </div>
            <div class="client-info client-info__edit" *ngIf="editToggle">
                <input class="input__style" type="text" placeholder="Фамилия" [(ngModel)]="client.surname">
                <input class="input__style" type="text" placeholder="Имя" [(ngModel)]="client.name">
                <input class="input__style" type="text" placeholder="Отчество" [(ngModel)]="client.patronymic">
                <input class="input__style" type="text" placeholder="Номер телефона" [(ngModel)]="client.telephoneNumber">
                <input class="input__style" type="text" placeholder="Адрес" [(ngModel)]="client.address">
                <input class="input__style" type="text" placeholder="Email" [(ngModel)]="client.email">
                <a class="client__card-link links-top-line-separator" (click)="
                editToggle = !editToggle;
                moreInfoToggle = !moreInfoToggle;
                updateClientData()
                ">Сохранить</a>
            </div>
        </div>

        <button class="btn" [routerLink]="['/clientspage', clientId, 'construction']">Создать расчет</button>

        <table class="calculation__table">
            <tr class="calculation__table-headers">
                <th>Номер</th>
                <th>Дата</th>
                <th>Статус</th>
                <th>Адрес</th>
                <th>Копирование</th>
                <th>Удаление</th>
            </tr>
            <tr class="calculation__data" *ngFor="let calc of calculationService.calculation">
                <td><p class="client__card-link">Расчет №{{calc.numberN}}</p></td>
                <td>{{calc.created_date | date:'dd.MM.yyyy'}}</td>
                <td *ngIf="calc.cStatus; else falseStatus">Актуален</td>
                <ng-template #falseStatus>
                    <td>Не актуален</td>
                </ng-template>
                <td>{{calc.addressOC}}</td>
                <td><button [disabled]="true" class="btn">Копировать</button></td>
                <td><button [disabled]="true" class="btn danger">Удалить</button></td>
            </tr>
        </table>

    </div>
</div>