@use "src/styles";

.client__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  .client-info {
    text-align: right;
    line-height: 1.5rem;
    padding: 8px 12px;
    border: 2px solid styles.$border-color-lightgrey;
    border-radius: 10px;
  }
  .client-info__edit {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .input__style {
    margin-bottom: 0.5rem;
  }
  .flex-links {
    display: flex;
    justify-content: space-around;
  }
  .links-top-line-separator {
    width: 100%;
    text-align: center;
    padding-top: 6px;
    margin-top: 6px;
    border-top: 2px solid gray;
  }
}

.calculation__table {
  width: 100%;
  margin: 30px 0;
  text-align: center;
  border: 3px solid #222222;
  border-collapse: separate;
  border-radius: 10px;
}

tr, td, th {
  padding: 10px 10px;
  vertical-align: middle;
  border: 2px solid #222222;
  th:first-child {
    border-top-left-radius: 5px;
  }
  th:last-child {
    border-top-right-radius: 5px;
  }
  td {
    background-color: #43484b;
  }
}
.calculation__data:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
.calculation__data:last-child td:last-child {
  border-bottom-right-radius: 5px;
}


.calculation__table-headers {
  text-align: center;
  background-color: styles.$back-color-dark;
}

.client__card-link {
  color: styles.$text-color-lightblue;
  text-shadow: 0 0 5px styles.$border-color-blue;
  cursor: pointer;
  &:hover {
    color: #b7e1fd;
  }
  &:active {
    text-shadow: none;
  }
}

.address-with-btn {
  display: flex;
  gap: 30px;
  .validation__input-style {
    width: 500px;
    text-align: center;
  }
}

.edit__form-control {
  margin-bottom: 10px;
}
.edit__input {
  width: 300px;
  font-size: 18px;
  padding: 10px;
  color: styles.$text-color-light;
  background-color: styles.$back-color-dark;
  border: 2px solid styles.$border-color-lightgrey;
  border-radius: 10px;
  &.ng-invalid.ng-touched {
    border: 2px solid styles.$danger-color;
  }
  &.ng-valid.ng-touched {
    border: 2px solid styles.$valid-color;
  }
}
.validation {
  margin-top: 10px;
  color: styles.$danger-color;
}