<div class="wrapper">
    <div class="component__container">
        <div class="client__card-header">
            <button class="btn" type="button" [routerLink]="['/clientspage', clientId, 'construction']" (click)="setEditFlag()">Назад</button>
            <button class="btn" type="button" [routerLink]="['/clientspage', clientId]" (click)="setEditFlag()">На страницу клиента</button>
<!--            <button class="btn" type="button" (click)="showAF()">показать</button>-->
            <div class="client-info">
                <p>{{getClient().surname}} {{getClient().name}} {{getClient().patronymic}}</p>
                <p>{{getTel() | cellphone}}</p>
                <p>{{getClient().address}}</p>
                <p>{{getClient().email}}</p>
            </div>
        </div>
        <div class="calculator-container">
            <div class="calculator-box">
                <button class="btn" (click)="calculatorToggle = !calculatorToggle" [ngClass]="{'btn-calculator': calculatorToggle}">
                    <small *ngIf="!calculatorToggle">Калькулятор</small>
                    <small *ngIf="calculatorToggle">Закрыть</small>
                </button>
                <div class="calculator" *ngIf="calculatorToggle">
                    <input type="text" class="frame__input-calc" placeholder="Введите число" [(ngModel)]="a">
                    <input type="text" class="frame__input-calc" placeholder="Введите число" [(ngModel)]="b">
                    <div class="calculator-btns">
                        <button class="btn" (click)="calculate('+')">+</button>
                        <button class="btn" (click)="calculate('-')">&minus;</button>
                        <button class="btn" (click)="calculate('*')">&times;</button>
                        <button class="btn" (click)="calculate('/')">&divide;</button>
                    </div>
                    <input type="text" class="frame__input-calc" placeholder="Результат" [(ngModel)]="c">
                </div>
            </div>
        </div>

        <h1 class="title-with-lines">Каркас</h1>
        <form class="frame__form" [formGroup]="formFrame" (ngSubmit)="submit()">
            <h1 class="form__inner-title" style="font-size: 20px">Исходные данные</h1>
            <div class="frame__form-control">
                <div class="with-validation">
                    <div class="with-clear-btn">
                        <div class="label-item__flex" style="justify-content: flex-start; gap: 10px; margin-bottom: 0;">
                            <label for="fFloorsNumber" class="form__label" style="margin-right: 30px">Количество этажей</label>
                            <button class="btn" type="button" [disabled]="numberOfFloors.value <= 1" (click)="decAmountFloor()">-</button>
                            <input type="text" id="fFloorsNumber" class="frame__input" formControlName="numberOfFloors" (focusout)="addFloor()" style="width: 50px" [value]="numberOfFloors.value">
                            <button class="btn" type="button" [disabled]="numberOfFloors.value >= 20" (click)="incAmountFloor()">+</button>
                        </div>
                        <button class="btn" type="button" (click)="clearCalculation()" style="">Очистить расчет</button>
                    </div>
                    <div
                        *ngIf="formFrame.get('numberOfFloors')?.invalid && formFrame.get('numberOfFloors')?.touched"
                        class="validation"
                    >
                        <small *ngIf="formFrame.get('numberOfFloors')?.errors?.['required']">Поле не может быть пустым</small>
                        <small *ngIf="formFrame.get('numberOfFloors').errors?.['min']">
                            Введите не менее {{formFrame.get('numberOfFloors')?.errors?.['min'].min}} этажа.
                        </small>
                        <small *ngIf="formFrame.get('numberOfFloors')?.errors?.['max']">
                            Введите не более {{formFrame.get('numberOfFloors')?.errors?.['max'].max}} этажей.
                        </small>
                    </div>
                </div>
            </div>

            <div class="flex-floors" formArrayName="floorNumber">
                <div class="floor-box" *ngFor="let floor of floorNumber.controls; let i = index">
                    <h1 class="form__inner-title">
                        Этаж {{i + 1}}
                        <button class="btn" type="button" (click)="hidden[i] = !hidden[i]" style="margin-left: 30px">
                            <small *ngIf="!hidden[i]; else show">Свернуть</small>
                            <ng-template #show>Развернуть</ng-template>
                        </button>
                    </h1>

                    <div class="floor-group" [formGroupName]="i" *ngIf="!hidden[i]">
                        <div class="inner-floor-flex">
                            <div class="floor-left-side">
                                <div class="main-items">
                                    <div class="label-item__flex">
                                        <label for="ffloor_height" class="form__label">Высота этажа</label>
                                        <input type="text" id="ffloor_height" class="frame__input" formControlName="floorHeight">

                                    </div>
                                    <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['floorHeight']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['floorHeight']?.touched"
                                            class="validation right-side-text"
                                    >
                                        <small *ngIf="formFrame.controls['floorNumber'].controls[i].controls['floorHeight']?.errors?.['required']">Поле не может быть пустым</small>
                                        <small *ngIf="formFrame.controls['floorNumber'].controls[i].controls['floorHeight']?.errors?.['max']">
                                            Введите высоту не более {{formFrame.controls['floorNumber'].controls[i].controls['floorHeight']?.errors?.['max'].max}} м.
                                        </small>
                                    </div>
                                    <div class="label-item__flex">
                                        <label for="fperimeter_of_external_walls" class="form__label">Периметр внешних стен</label>
                                        <input type="text" id="fperimeter_of_external_walls" class="frame__input" formControlName="outerWallPerimeter">
                                    </div>
                                    <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['outerWallPerimeter']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['outerWallPerimeter']?.touched"
                                            class="validation right-side-text"
                                    >
                                        <small>Поле не может быть пустым</small>
                                    </div>
                                    <div class="label-item__flex">
                                        <label for="fbaseArea" class="form__label">Площадь основания</label>
                                        <input type="text" id="fbaseArea" class="frame__input" formControlName="baseArea">
                                    </div>
                                    <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['baseArea']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['baseArea']?.touched"
                                            class="validation right-side-text"
                                    >
                                        <small>Поле не может быть пустым</small>
                                    </div>
                                    <div class="label-item__flex">
                                        <label class="form__label">Толщина внешних стен</label>
                                        <div class="label-with-btn">
                                            <select class="select-options" formControlName="externalWallThickness" *ngIf="formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall']?.valid
                                            && formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall']?.touched">
                                                <option class="option" value=""> Выбрать </option>
                                                <option class="option" [value]="thickVal" *ngFor="let thickVal of getThicknessArray(formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall'].value)">{{thickVal}}</option>
                                            </select>
                                            <select class="select-options" formControlName="externalWallThickness" *ngIf="!formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall']?.valid
                                            || !formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall']?.touched">
                                                <option class="option" value=""> Выбрать </option>
                                                <option class="option" [value]="thickVal" *ngFor="let thickVal of getThicknessArray('all')">{{thickVal}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['externalWallThickness']?.invalid
                                                    && formFrame.controls['floorNumber'].controls[i].controls['externalWallThickness']?.touched"
                                            class="validation right-side-text"
                                    >
                                        <small>Выберите толщину</small>
                                    </div>
                                    <div class="label-item__flex">
                                        <label for="finternalWallLength" class="form__label">Длина внутренних стен</label>
                                        <input type="text" id="finternalWallLength" class="frame__input" formControlName="internalWallLength">
                                    </div>
                                    <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['internalWallLength']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['internalWallLength']?.touched"
                                            class="validation right-side-text"
                                    >
                                        <small>Поле не может быть пустым</small>
                                    </div>

                                    <div class="label-item__flex">
                                        <label class="form__label">Толщина внутренних стен</label>
                                        <div class="label-with-btn">
                                            <select class="select-options" formControlName="internalWallThickness" *ngIf="formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall']?.valid
                                            && formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall']?.touched">
                                                <option class="option" value=""> Выбрать </option>
                                                <option class="option" [value]="thickVal" *ngFor="let thickVal of getThicknessArray(formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall'].value)">{{thickVal}}</option>
                                            </select>
                                            <select class="select-options" formControlName="internalWallThickness" *ngIf="!formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall']?.valid
                                            || !formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall']?.touched">
                                                <option class="option" value=""> Выбрать </option>
                                                <option class="option" [value]="thickVal" *ngFor="let thickVal of getThicknessArray('all')">{{thickVal}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['internalWallThickness']?.invalid
                                                    && formFrame.controls['floorNumber'].controls[i].controls['internalWallThickness']?.touched"
                                            class="validation right-side-text"
                                    >
                                        <small>Выберите толщину</small>
                                    </div>
                                </div>

                                <div class="outer-walls-plating">
                                    <h1 class="form__floor-title">Обшивки внешних стен</h1>
                                    <div class="label-item__flex">
                                        <label class="form__label">ОСБ снаружи</label>
                                        <select class="select-options" formControlName="osbexternalWall">
                                            <option class="option" value=""> Выбрать </option>
                                            <option class="option" value="{{OSB.name}}" *ngFor="let OSB of getOSB()">{{OSB.name}}</option>
                                        </select>
                                    </div>
                                    <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['osbexternalWall']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['osbexternalWall']?.touched"
                                            class="validation right-side-text"
                                    >
                                        <small>Выберите ОСБ</small>
                                    </div>
                                    <div class="label-item__flex">
                                        <label class="form__label">Парогидроизоляция</label>
                                        <select class="select-options" formControlName="steamWaterproofingExternalWall">
                                            <option class="option" value=""> Выбрать </option>
                                            <option class="option" value="{{steamWaterproof.name}}" *ngFor="let steamWaterproof of getSteamWaterproofing()">{{steamWaterproof.name}}</option>
                                        </select>
                                    </div>
                                    <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['steamWaterproofingExternalWall']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['steamWaterproofingExternalWall']?.touched"
                                            class="validation right-side-text"
                                    >
                                        <small>Выберите Парогидроизоляцию</small>
                                    </div>
                                    <div class="label-item__flex">
                                        <label class="form__label">Ветрозащита</label>
                                        <select class="select-options" formControlName="windscreenExternalWall">
                                            <option class="option" value=""> Выбрать </option>
                                            <option class="option" value="{{windscreen.name}}" *ngFor="let windscreen of getWindscreen()">{{windscreen.name}}</option>
                                        </select>
                                    </div>
                                    <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['windscreenExternalWall']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['windscreenExternalWall']?.touched"
                                            class="validation right-side-text"
                                    >
                                        <small>Выберите ветрозащиту</small>
                                    </div>
                                    <div class="label-item__flex">
                                        <label class="form__label">Утеплитель</label>
                                        <select class="select-options" formControlName="insulationExternalWall" *ngIf="formFrame.controls['floorNumber'].controls[i].controls['externalWallThickness']?.valid
                                            && formFrame.controls['floorNumber'].controls[i].controls['externalWallThickness']?.touched">
                                            <option class="option" value=""> Выбрать </option>
                                            <option class="option" value="{{insulation.name}}" *ngFor="let insulation of getInsulation(formFrame.controls['floorNumber'].controls[i].controls['externalWallThickness'].value)">{{insulation.name}}</option>
                                        </select>
                                        <select class="select-options" formControlName="insulationExternalWall" *ngIf="!formFrame.controls['floorNumber'].controls[i].controls['externalWallThickness']?.valid || !formFrame.controls['floorNumber'].controls[i].controls['externalWallThickness']?.touched">
                                            <option class="option" value=""> Выбрать </option>
                                            <option class="option" value="{{insulation.name}}" *ngFor="let insulation of getInsulation('all')">{{insulation.name}}</option>
                                        </select>
                                    </div>
                                    <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['insulationExternalWall']?.touched"
                                            class="validation right-side-text"
                                    >
                                        <small>Выберите утеплитель</small>
                                    </div>
                                </div>
                            </div>

                            <div class="floor-right-side">
                                <div class="main-items">
                                    <button class="btn btn-consider" type="button" *ngIf="!considerInnerWallsCalc[i]; else notCons" (click)="considerInnerWallsCalc[i] = !considerInnerWallsCalc[i]">Учесть</button>
                                    <ng-template #notCons>
                                        <button class="btn btn-consider" type="button" (click)="clearOSBInternal(i); considerInnerWallsCalc[i] = !considerInnerWallsCalc[i]">Не учитывать</button>
                                    </ng-template>
                                    <h1 class="form__label" [ngClass]="{
                                        consider: considerInnerWallsCalc[i] === true,
                                        'not-consider': considerInnerWallsCalc[i] === false
                                    }">расчет обшивки внутренних стен</h1>
                                    <div class="label-item__flex" *ngIf="considerInnerWallsCalc[i]" style="margin-top: 15px; margin-bottom: 0">
                                        <label class="form__label">ОСБ внутри</label>
                                        <select class="select-options" formControlName="osbinternalWall" [ngClass]="{'ng-valid': !considerInnerWallsCalc[i]}">
                                            <option class="option" value=""> Выбрать </option>
                                            <option class="option" value="{{OSB.name}}" *ngFor="let OSB of getOSB()">{{OSB.name}}</option>
                                        </select>
                                    </div>
                                    <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['osbinternalWall']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['osbinternalWall']?.touched"
                                            class="validation right-side-text"
                                    >
                                        <small>Выберите ОСБ</small>
                                    </div>
                                </div>

                                <div class="main-items" formArrayName="apertures">
                                    <button class="btn btn-consider" type="button" *ngIf="!considerOpenings[i]; else notCons2" (click)="considerOpenings[i] = !considerOpenings[i]">Учесть</button>
                                    <ng-template #notCons2>
                                        <button class="btn btn-consider" type="button" (click)="clearApertures(i); considerOpenings[i] = !considerOpenings[i]">Не учитывать</button>
                                    </ng-template>
                                    <h1 class="form__label" [ngClass]="{
                                        consider: considerOpenings[i] === true,
                                        'not-consider': considerOpenings[i] === false
                                    }">двери и окна</h1>
                                    <div class="apertures-container" *ngIf="considerOpenings[i]">
                                        <button class="btn" type="button" (click)="addApertures(i)" style="margin-top: 25px">Добавить проемы</button>
                                        <div class="openings-flex" *ngFor="let aperture of apertures(i).controls; let j = index" [formGroupName]="j">
                                            <div class="apertures-with-amount-flex">
                                                <div class="apertures-group" formGroupName="aperture">
                                                    <div class="label-item__flex">
                                                        <div class="label-with-btn">
                                                            <select class="select-options" formControlName="type" style="margin-right: 20px; width: 300px;">
                                                                <option class="option" value=""> Тип проема </option>
                                                                <option class="option" value="Оконные проемы">Оконные проемы</option>
                                                                <option class="option" value="Дверные проемы внешние">Дверные проемы внешние</option>
                                                                <option class="option" value="Дверные проемы внутренние">Дверные проемы внутренние</option>
                                                            </select>
                                                            <button class="btn" type="button" [disabled]="apertures(i).length <= 1" (click)="deleteApertures(i, j)" style="margin-left: 15px">Удалить</button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        *ngIf="formFrame.controls['floorNumber'].controls[i].controls['apertures'].controls[j].controls['aperture'].controls['type']?.invalid
                                                        && formFrame.controls['floorNumber'].controls[i].controls['apertures'].controls[j].controls['aperture'].controls['type']?.touched"
                                                        class="validation right-side-text"
                                                    >
                                                        <small>Выберите тип проемов</small>
                                                    </div>
                                                    <div class="openings-inputs-flex">
                                                        <input type="text" class="frame__input" placeholder="Высота" formControlName="height">
                                                        <input type="text" class="frame__input" placeholder="Ширина" formControlName="weight">
                                                    </div>
                                                </div>
                                                <input type="text" class="frame__input" placeholder="Количество" formControlName="amount" >
                                            </div>
                                            <div
                                                    *ngIf="formFrame.controls['floorNumber'].controls[i].controls['apertures'].controls[j]?.invalid
                                                    && formFrame.controls['floorNumber'].controls[i].controls['apertures'].controls[j]?.touched || formFrame.controls['floorNumber'].controls[i].controls['apertures'].controls[j].controls['aperture'].controls['height']?.invalid
                                                        && formFrame.controls['floorNumber'].controls[i].controls['apertures'].controls[j].controls['aperture'].controls['height']?.touched
                                                        || formFrame.controls['floorNumber'].controls[i].controls['apertures'].controls[j].controls['aperture'].controls['weight']?.invalid
                                                        && formFrame.controls['floorNumber'].controls[i].controls['apertures'].controls[j].controls['aperture'].controls['weight']?.touched"
                                                    class="validation right-side-text overlap-validators-flex"
                                            >
                                                <small>
                                                    Укажите все параметры
                                                </small>
                                                <small *ngIf="formFrame.controls['floorNumber'].controls[i].controls['apertures'].controls[j].controls['aperture'].controls['height']?.errors?.['mismatchHeight']">
                                                    Значение высоты больше чем высота этажа
                                                </small>
                                                <small *ngIf="formFrame.controls['floorNumber'].controls[i].controls['apertures'].controls[j].controls['aperture'].controls['weight']?.errors?.['mismatchWidth']">
                                                    Значение ширины больше чем ширина стен
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="overlaps-container">
                                    <button class="btn btn-consider" type="button" *ngIf="!considerOverlaps[i]; else notCons3" (click)="considerOverlaps[i] = !considerOverlaps[i]">Учесть</button>
                                    <ng-template #notCons3>
                                        <button class="btn btn-consider" type="button" (click)="clearOverlaps(i); considerOverlaps[i] = !considerOverlaps[i]">Не учитывать</button>
                                    </ng-template>
                                    <h1 class="form__label" [ngClass]="{
                                        consider: considerOverlaps[i] === true,
                                        'not-consider': considerOverlaps[i] === false
                                    }" style="margin-bottom: 15px">расчет перекрытий</h1>
                                    <div class="overlaps-container" *ngIf="considerOverlaps[i]">
                                        <div class="label-item__flex">
                                            <label class="form__label">Толщина перекрытия</label>
                                            <div class="label-with-btn">
                                                <select class="select-options" formControlName="overlapThickness" *ngIf="formFrame.controls['floorNumber'].controls[i].controls['insulationThickness']?.valid
                                            && formFrame.controls['floorNumber'].controls[i].controls['insulationThickness']?.touched">
                                                    <option class="option" value="0"> Выбрать </option>
                                                    <option class="option" [value]="thickVal" *ngFor="let thickVal of getThicknessArray(formFrame.controls['floorNumber'].controls[i].controls['insulationThickness'].value)">{{thickVal}}</option>
                                                </select>
                                                <select class="select-options" formControlName="overlapThickness" *ngIf="!formFrame.controls['floorNumber'].controls[i].controls['insulationThickness']?.valid
                                            || !formFrame.controls['floorNumber'].controls[i].controls['insulationThickness']?.touched">
                                                    <option class="option" value="0"> Выбрать </option>
                                                    <option class="option" [value]="thickVal" *ngFor="let thickVal of getThicknessArray('all')">{{thickVal}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div
                                                *ngIf="formFrame.controls['floorNumber'].controls[i].controls['overlapThickness']?.invalid
                                                    && formFrame.controls['floorNumber'].controls[i].controls['overlapThickness']?.touched"
                                                class="validation right-side-text"
                                        >
                                            <small>Выберите толщину</small>
                                        </div>

                                        <div class="label-item__flex">
                                            <label for="osbthickness" class="form__label">ОСБ перекрытия</label>
                                            <select class="select-options" id="osbthickness" formControlName="osbthickness" >
                                                <option class="option" value=""> Выбрать </option>
                                                <option class="option" value="{{OSB.name}}" *ngFor="let OSB of getOSB()">{{OSB.name}}</option>
                                            </select>
                                        </div>
                                        <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['osbthickness']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['osbthickness']?.touched"
                                            class="validation right-side-text"
                                        >
                                            <small>Выберите ОСБ</small>
                                        </div>

                                        <div class="label-item__flex">
                                            <label class="form__label">Парогидроизоляция</label>
                                            <select class="select-options"  formControlName="steamWaterproofingThickness" >
                                                <option class="option" value=""> Выбрать </option>
                                                <option class="option" value="{{steamWater.name}}" *ngFor="let steamWater of getSteamWaterproofing()">{{steamWater.name}}</option>
                                            </select>
                                        </div>
                                        <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['steamWaterproofingThickness']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['steamWaterproofingThickness']?.touched"
                                            class="validation right-side-text"
                                        >
                                            <small>Выберите парогидроизоляцию</small>
                                        </div>

                                        <div class="label-item__flex">
                                            <label class="form__label">Ветрозащита</label>
                                            <select class="select-options"  formControlName="windscreenProtectionThickness" >
                                                <option class="option" value=""> Выбрать </option>
                                                <option class="option" value="{{windscreen.name}}" *ngFor="let windscreen of getWindscreen()">{{windscreen.name}}</option>
                                            </select>
                                        </div>
                                        <div
                                            *ngIf="formFrame.controls['floorNumber'].controls[i].controls['windscreenProtectionThickness']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['windscreenProtectionThickness']?.touched"
                                            class="validation right-side-text"
                                        >
                                            <small>Выберите ветрозащиту</small>
                                        </div>

                                        <div class="label-item__flex">
                                            <label class="form__label">Утеплитель</label>
                                            <select class="select-options" formControlName="insulationThickness" *ngIf="formFrame.controls['floorNumber'].controls[i].controls['overlapThickness']?.valid
                                            && formFrame.controls['floorNumber'].controls[i].controls['overlapThickness']?.touched">
                                                <option class="option" value=""> Выбрать </option>
                                                <option class="option" value="{{insulation.name}}" *ngFor="let insulation of getInsulation(formFrame.controls['floorNumber'].controls[i].controls['overlapThickness'].value)">{{insulation.name}}</option>
                                            </select>
                                            <select class="select-options" formControlName="insulationThickness" *ngIf="!formFrame.controls['floorNumber'].controls[i].controls['overlapThickness']?.valid
                                            || !formFrame.controls['floorNumber'].controls[i].controls['overlapThickness']?.touched">
                                                <option class="option" value=""> Выбрать </option>
                                                <option class="option" value="{{insulation.name}}" *ngFor="let insulation of getInsulation('all')">{{insulation.name}}</option>
                                            </select>
                                        </div>
                                        <div
                                                *ngIf="formFrame.controls['floorNumber'].controls[i].controls['insulationThickness']?.invalid
                                            && formFrame.controls['floorNumber'].controls[i].controls['insulationThickness']?.touched"
                                                class="validation right-side-text"
                                        >
                                            <small>Выберите утеплитель</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <button class="btn" (click)="deleteFloor(i); decreaseVal()" style="margin-top: 5px;">Удалить этаж</button>
                    </div>

                </div>
            </div>

<!--            <button class="btn btn-app-wwd" type="submit" [disabled]="form.invalid || form.pending">Отправить</button>-->
            <button class="btn btn-calculate" [disabled]="formFrame.invalid" type="submit" >Рассчитать</button>
<!--            [routerLink]="['/clientspage', clientId]"-->
        </form>
    </div>
</div>