
<div class="wrapper">
    <div class="loginpage">

        <div class="login__box">
            <h1 class="login__title">Вход</h1>
            <input type="text" name="username" class="login__input" placeholder="Логин" [(ngModel)]="username">
            <input type="password" name="password" class="login__input" placeholder="Пароль" [(ngModel)]="password" (keyup.enter)="onLoginClick()">
            <button #buttonCli class="btn login__btn" (click)="onLoginClick()">Войти</button>

            <p class="danger-text" *ngIf="erStatus == 401; else Forbidden403">Ошибка</p>
            <ng-template #Forbidden403>
                <p class="danger-text" *ngIf="erStatus == 403">Неверное имя пользователя или пароль</p>
            </ng-template>
        </div>
    </div>
</div>
