<div class="wrapper">
    <div class="clients__container">
        <h1 class="clients__title">Клиенты</h1>
        <button class="btn clients__btn" routerLink="/clientregistration">Создать клиента</button>
        <button class="btn" (click)="clientsService.getAllUsers()">получить клиентов</button>
        <div class="clients__cards">
            <div class="clients__card" *ngFor="let cl of clientsService.clients">
                <a class="link-clients__card" [routerLink]="['/clientspage', cl.id]">
                    <p class="clients__card-line">
                        {{cl.surname}}
                        {{cl.name}}
                        {{cl.patronymic}}
                    </p>
                    <p class="clients__card-line">
                        {{cl.address}}
                    </p>
                    <p class="clients__card-line">
                        {{cl.telephone | cellphone}}
                    </p>
                </a>
            </div>
        </div>

    </div>
</div>
