<!-- Header start -->
<header class="header" *ngIf="!authService.getIsAuth(); else authorizated">
    <div class="wrapper">
        <div class="header__wrapper">
            <div class="header__logo-with-title" style="width: 100%; justify-content: space-between">
                <img src="../assets/images/header-logo.png" alt="Discover Amazing places in Japan" class="header__logo-pic" style="opacity: 0">
                <a class="btn header__btn" routerLink="/login">Войти</a>
            </div>
        </div>
    </div>
</header>

<ng-template #authorizated>
    <header class="header" style="background-color: #303030;">
        <div class="wrapper">
                <div class="header__wrapper">
                    <div class="header__logo-with-title">
                        <a href="/" class="header__logo-link">
                            <img src="../assets/images/header-logo.png" alt="Discover Amazing places in Japan" class="header__logo-pic">

                        </a>
                        <h1 class="header__title">Строительный калькулятор</h1>
                    </div>
                    <div class="header__fjb">
                        <div class="header__fio-jobpost" *ngIf="authService.getIsAuth()">
                            <p class="header__fio">{{authService.getCurrentManager().name}} {{authService.getCurrentManager().surname}}</p>
                            <p class="header__jobpost" *ngIf="authService.getCurrentManager().role == 'ADMIN'; else manager">Администратор</p>
                            <ng-template #manager>
                                <p class="header__jobpost">Менеджер</p>
                            </ng-template>
                        </div>
                        <div style="display: flex; flex-flow: column; gap: 10px; text-align: center;">
                            <a class="btn header__btn" (click)="authService.logout()" routerLink="/">Выйти</a>
                            <a class="btn header__btn" routerLink="/clientspage" (click)="setEditFlag()">Клиенты</a>
                        </div>
                    </div>

                </div>
        </div>
    </header>
</ng-template>
<!-- Header end -->

<router-outlet></router-outlet>
