<!-- Header start -->
<header class="header">
    <div class="wrapper">
        <div class="header__wrapper">
            <div class="header__logo-with-title">
                <a href="/" class="header__logo-link">
                    <img src="../assets/images/header-logo.png" alt="Discover Amazing places in Japan" class="header__logo-pic" *ngIf="auth.getIsAuth(); else hiddenLogo">
                    <ng-template #hiddenLogo>
                        <img src="../assets/images/header-logo.png" alt="Discover Amazing places in Japan" class="header__logo-pic" style="opacity: 0">
                    </ng-template>
                </a>
                <h1 class="header__title" *ngIf="auth.getIsAuth(); else hiddenLogo">Строительный калькулятор</h1>
            </div>
            <!--            <button class="btn" (click)="onWindowScroll()">scroll</button>  sd-->
            <div class="header__fjb">
                <div class="header__fio-jobpost" *ngIf="auth.getIsAuth()">
                    <p class="header__fio">{{managerService.managers[0].name}} {{managerService.managers[0].surname}}</p>
                    <p class="header__jobpost">{{managerService.managers[0].jobpost}}</p>
                </div>
                <a class="btn header__btn" routerLink="/login" *ngIf="!auth.getIsAuth(); else authorizated">Войти</a>
                <ng-template #authorizated>
                    <a class="btn header__btn" (click)="auth.logout()" routerLink="/">Выйти</a>
                </ng-template>
            </div>

        </div>
    </div>
</header>
<!-- Header end -->

<router-outlet></router-outlet>
