@use "src/styles";

$index: calc(1vw + 1vh);
//$transition: transform .01s ease;

main {
  background-color: #303030;
  color: styles.$text-color-light;
  font-family: 'Raleway', sans-serif;
}
.header__layers {
  margin-top: 200px;
}
.main-header {
  position: relative;
}
.main-header::after {
  content: '';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: calc($index * 5.5);
  background-image: url(../../assets/images/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc($index * -2.6)
}
.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  //transition: $transition;
}

.layers__base {
  transform: translate3d(0, calc(var(--scrollTop)/1.1), 0);
  z-index: 0;
}
.layers__back {
  transform: translate3d(0, calc(var(--scrollTop)/1.6), 0);
  z-index: 0;
}
.layers__middle {
  transform: translate3d(0, calc(var(--scrollTop)/2.5), 0);
}
.layers__front {
  transform: translate3d(0, calc(var(--scrollTop)/5), 0);
}

.layer__header {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 0 0 15px #a28908;
}
.layers__caption {
  font-size: calc($index / 1.1);
  letter-spacing: calc($index / 7);
  margin-left: 200px;
}
.layers__title {
  font-size: calc($index * 1.7);
  letter-spacing: calc($index / 5);
  margin-left: 200px;
  margin-bottom: calc($index * 4);
}

.main-article {
  position: relative;
  min-height: 100vh;
  color: styles.$text-color-light;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-article__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 2px 5px #36b7ef;
  margin-top: calc($index / 0.1);
  padding: calc($index / 0.75);
  transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  border-radius: 10px;
  background-color: rgba(48, 48, 48, 0.7);
}
.main-article__header {
  text-transform: uppercase;
  font-size: calc($index * 1.8);
  letter-spacing: calc($index / 7.5);
  //transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  will-change: transform;
}
.main-article__paragraph {
  width: calc($index * 25);
  font-size: calc($index * .9);
  margin-top: calc($index / 0.75);
  margin-bottom: calc($index * 0.75);
  //transform: translate3d(0, calc(var(--scrollTop) / -10), 0);
  will-change: transform;
}
.content-main {
  will-change: transform;
}
.copyright {
  position: relative;
  //bottom: calc($index * 2.5);
  font-size: calc($index * 1.2);
  margin-top: calc($index / 0.75);
  letter-spacing: calc($index / 37.5);
}

//.cube-flex {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//.cube {
//  position: absolute;
//  width: calc($index * 12);
//  height: calc($index * 12);
//
//  div {
//    position: absolute;
//    top: 45px;
//    right: 310px;
//    width: calc($index * 5.65);
//    height: calc($index * 5.65);
//    transform-style: preserve-3d;
//    animation: animate 7s linear infinite;
//  }
//
//  .big span {
//    position: absolute;
//    width: calc($index * 5.65);
//    height: calc($index * 5.65);
//    background: var(--clr);
//    transform: rotateY(calc(90deg * var(--i))) translateZ(calc($index * 2.82));
//    transform-style: preserve-3d;
//    transition: 0.5s;
//  }
//
//  &:hover .big span {
//    background: transparent;
//    border: calc($index * 0.6) solid #ffa20d;
//    //filter: drop-shadow(0 0 1px #ffa20d);
//  }
//  .big span.top {
//    transform: rotateX(90deg) translateZ(calc($index * 2.82));
//  }
//  .big span.top::before {
//    content: '';
//    position: absolute;
//    inset: 0;
//    transform: translateZ(calc($index * 2.8));
//    background: rgba(0,0,0,0.5);
//    filter: blur(50px);
//  }
//}
//
//.cube2 {
//  position: absolute;
//  width: 120px;
//  height: 120px;
//  bottom: 60px;
//  right: -55px;
//  transform: translate(-50%, -350px);
//
//  div {
//    position: absolute;
//    top: 70px;
//    right: 310px;
//    width: 100%;
//    height: 100%;
//    transform-style: preserve-3d;
//    animation: animate2 7s linear infinite;
//    scale: 0.5;
//  }
//
//  .big span {
//    position: absolute;
//    width: 120px;
//    height: 120px;
//    background: var(--clr);
//    transform: rotateY(calc(90deg * var(--i))) translateZ(60px);
//    transform-style: preserve-3d;
//    transition: 0.1s;
//  }
//
//  .cube:hover ~ & .big span {
//    background: transparent;
//    border: 10px solid #0da2ff;
//    filter: drop-shadow(0 0 10px #0da2ff);
//  }
//  .big span.top {
//    transform: rotateX(90deg) translateZ(60px);
//  }
//  .big span.top::before {
//    content: '';
//    position: absolute;
//    inset: 0;
//    transform: translateZ(-140px);
//    background: rgba(0,0,0,0.35);
//    filter: blur(50px);
//  }
//}
//
//@keyframes animate {
//  0% {
//    transform: rotateX(-20deg) rotateY(360deg);
//  }
//  100% {
//    transform: rotateX(-20deg) rotateY(0deg);
//  }
//}
//@keyframes animate2 {
//  0% {
//    transform: rotateX(-20deg) rotateY(0deg);
//  }
//  100% {
//    transform: rotateX(-20deg) rotateY(360deg);
//  }
//}
