
<main>
    <div class="wrapper-main">
        <div class="content-main">
            <div class="main-header">
                <div class="layers">
                    <div class="layer__header">
                        <div class="layers__caption">Добро пожаловать к мугиварам</div>
                        <div class="layers__title">Строительный калькулятор</div>
                    </div>
                    <div class="layer layers__base" style="background-image: url(assets/images/roofs-base.png)"></div>
                    <div class="layer layers__back" style="background-image: url(assets/images/roofs-back.png)"></div>
                    <div class="layer layers__middle" style="background-image: url(assets/images/roofs-middle.png)"></div>
                    <div class="layer layers__front" style="background-image: url(assets/images/roofs-front.png)"></div>
                </div>
            </div>

            <article class="main-article" style="background-image: url(assets/images/street-base.png)">
                <div class="main-article__content">
                    <h2 class="main-article__header">Закажите расчет на строительство</h2>
                    <p class="main-article__paragraph">Для заказа расчета на строительство пожалуйста позоните по номеру 8 (800) 555-35-35 лучше позвонить чем самому считать</p>
                    <div class="copyright">© Mugivary</div>
                </div>
            </article>
        </div>
    </div>
</main>

