<!--<div class="wrapper">-->
<!--    <div class="mainpage__info">-->
<!--        <h1 class="title">Добро пожаловать</h1>-->

<!--    </div>-->

<!--</div>-->
<main>
    <div class="wrapper-main">
        <div class="content-main">
            <div class="main-header">
                <div class="layers">
                    <div class="layer__header">
                        <div class="layers__caption">Добро пожаловать к мугиварам</div>
                        <div class="layers__title">Строительный калькулятор</div>
                    </div>
                    <div class="layer layers__base" style="background-image: url(assets/images2/roofs-base.png)"></div>
                    <div class="layer layers__back" style="background-image: url(assets/images/roofs-back.png)"></div>
                    <div class="layer layers__middle" style="background-image: url(assets/images2/roofs-middle.png)"></div>
                    <div class="layer layers__front" style="background-image: url(assets/images2/roofs-front.png)"></div>
                </div>
            </div>

            <article class="main-article" style="background-image: url(assets/images/street-base.png)">
                <div class="main-article__content">
                    <h2 class="main-article__header">To be continued</h2>
                    <p class="main-article__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda ipsum minima recusandae reprehenderit rerum totam vel vero! Aperiam asperiores doloribus ipsa odit quibusdam. Dolores fugit illum inventore molestias nihil optio quos?</p>
                    <div class="copyright">© Mugivary</div>
                </div>
            </article>
        </div>
    </div>
</main>

